# Environment variables
.env

# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Build files
build/
dist/
*.egg-info/

# Test/cache
.pytest_cache/
.coverage

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Generated output
outputs/*